h1 {
  text-align: center;
  color: Lime;
  font-family:Courier;
}
h2 {
  /*white-space: nowrap;*/
  text-align: center;
  margin-right: 20px;
  color: Lime;
  font-family:Courier;
}

p {
  text-align: center;
  color: Green;
  margin: 20px;
}

a {
  text-align: center;
  color: White;
  font-family:Courier;
  font-size: 250%;
  text-decoration: none;
}
img {
  width: 400px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 15px;
}

html {
  height: auto;
  width: 800px;
}

body {
  height: auto;
  width: 800px;
}
